<!DOCTYPE html>
<html>
  <head>
    <title>sasaco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li class="menu-logo">
            <%= link_to root_path do %>
              <%= image_tag "sasaco-minilogo-black.001.png", class:"logo" %>
            <% end %>
          </li>

          <% if user_signed_in? %>
          <li class="menu-link">
            <%= link_to edit_user_registration_path do %>
            <i class="fas fa-user"></i> <%= current_user.name %>
            <% end %>
          </li>

          <li class="menu-link">
            <%= link_to 'POSTS LIST', posts_path %>
          </li>

          <li class="menu-link">
            <%= link_to 'NEW POST', new_post_path %>
          </li>

          <li class="menu-link">
            <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
          </li>

          <% else %>

          <li class="menu-link">
            <%= link_to new_user_registration_path, class: 'post' do %>
              <i class="fas fa-user-plus"></i> SIGNUP
            <% end %>
          </li>

          <li class="menu-link">
            <%= link_to new_user_session_path, class: 'post' do %>
              <i class="fas fa-sign-in-alt"></i> LOGIN
            <% end %>
          </li>

          <% end %>

        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
